@font-face {
    font-family: "NotoSans";
    font-weight: 900;
    src: url("./NotoSansKR-Black.woff") format("woff"),
    url("./NotoSansKR-Black.otf") format("opentype");
}

@font-face {
    font-family: "NotoSans";
    font-weight: 500;
    src: url("./NotoSansKR-Medium.woff") format("woff"),
    url("./NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
    font-family: "NotoSans";
    font-weight: 400;
    src: url("./NotoSansKR-Regular.woff") format("woff"),
    url("./NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
    font-family: "NotoSans";
    font-weight: 300;
    src: url("./NotoSansKR-Light.woff") format("woff"),
    url("./NotoSansKR-Light.otf") format("opentype");
}

@font-face {
    font-family: "NotoSans";
    font-weight: 100;
    src: url("./NotoSansKR-Thin.woff") format("woff"),
    url("./NotoSansKR-Thin.otf") format("opentype");
}